/* 样式初始化 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end */

/* 自定义样式 */
.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 17px;
    line-height: 24px;
}

/* 自定义样式 end */

* {
    /* 将padding border计算到盒子内 */
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    overflow: hidden;
}

/* 背景图片 */
#hero {
    background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url("../imgs/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 3px;
    border-bottom: 4px solid white transparent;
}

.nav li a:hover {
    border-bottom: 4px solid white;
    transition: border-bottom 0.1s, color 0.1s;
}

/* imgs */
.imgs {
    float: right;
    position: absolute;
    right: -148px;
}

.promise {
    display: inline-block;
    margin-top: 90px;
    position: relative;
}

.iphone {
    width: 85%;
}

/* 文本内容 */
h2 {
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero h2 {
    color: white;
    margin-bottom: 40px;
}

.hero-para {
    /* font-family: "Helvetica Neue"; */
    font-size: 30px;
    line-height: 40px;
    color: white;
    margin-bottom: 55px;
}

.promise-info {
    width: 60%;
    padding-right: 150px;
    float: left;
}

/* button */
.promise-button {
    padding: 23px 35px;
    background: #282828;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    transition: 0.3;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    ;
}

.promise-button:hover {
    background: #383737;
    transition: 0.3s
}

.phone-icon {
    vertical-align: middle;
    padding-right: 20px;
}

/* APP FEATURES */
#app-features .container {
    text-align: center;
    padding: 60px 20px;
}

#app-features h2 {
    color: #8a8a8a;
    margin-bottom: 40px;
}

.p-features {
    font-size: 18px;
    padding: 0 130px;
    font-family: "Helvetica";
    font-weight: 100;
    color: #3a3a3a;
}

.col-4-app {
    width: 33.3%;
    float: left;
    padding: 0 45px;
}

.row {
    overflow: hidden;
    margin-top: 50px;
}

.col-4-app p {
    font-size: 16px;
    font-family: "Helvetica";
    font-weight: 100;
    color: #646464;
}

.row h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
}

/* Nose */
#nose {
    background: url("../imgs/nose-bg.png");
    background-size: cover;
    background-position: center;
}

.download-info {
    width: 50%;
    padding: 190px 0;
}

#nose h2 {
    margin-bottom: 40px;
    color: white;
    font-size: 38px;
}

.reddish {
    color: #f55150;
}

#nose p {
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    color: #585858;
    margin-bottom: 50px;
}

.download-btn {
    padding: 15px;
    background: #d9332d;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3;
    margin-left: 30px;
}

.download-btn:hover {
    background: #c33934;
    transition: 0.3s;
}

/* Footer */
footer {
    background: #2e2e38;
}

footer .container {
    padding: 120px 20px;
}

.col-4-footer {
    width: 33.3%;
    float: left;
    margin-top: 77px;
    color: white;
    padding: 30px;
}

footer h4 {
    font-size: 20px;
}

.ul-posts li {
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 70px;
}

.reddish-bg {
    background: url("../imgs/rectangle.png") no-repeat;
}

.block {
    display: block;
}

.ul-posts, .ul-tweets {
    margin-top: 25px;
}

.p-about {
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
}

.ul-tweets li, .ul-posts li {
    font-size: 15px;
    margin-top: 20px;
}

.smallText {
    font-size: 11px;
}

/* copyright */
.copyright .container {
    padding: 40px;
    text-align: center;
}

.copyright {
    background: #d7dedc;
}

.inline {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.inline a {
    text-decoration: none;
    color: black;
}

.mr {
    margin-right: 40px;
}

.cr, .me {
    margin-right: 40px;
}

.cr:after, .me:after {
    content: "";
    border: 1px solid #555555;
    margin-left: 35px;
}

@media only screen and (max-width: 1120px) {
    .promise-info {
        padding-right: 40px;
    }

}

@media screen and (max-width: 820px) {
    .iphone {
        display: none;
    }

    .promise-info {
        width: 100%;
        text-align: center;
    }

    .container nav ul {
        height: 0px;
        overflow: hidden;
    }

    .burger-nav {
        background: url(../imgs/hamburger.png) no-repeat 100% center;
        display: block;
        width: 40px;
        height: 31px;
        float: right;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .container nav ul.open {
        height: auto;
    }

    .container nav ul li {
        float: none;
        text-align: center;
        width: auto;
        margin: 0;
        display: block;
    }


    .col-4-app {
        width: 100%;
        float: none;
        margin-bottom: 50px;
    }

    .col-4-footer {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .images {
        display: none;
    }
}