/* 
    Basic Selectors 基础选择器
    ID > Class > Element

    后代选择器 (# . element) 空格 标签 (包含子孙)
    子选择器   (# . element) > 标签 (含子不含孙)
*/


.header h1 {
    color: green;
}

.header > h1 {
    color: purple;
}


/* 后代选择器 */
div h1 {
    color: red;
}

/* 子选择器 */
div > h1 {
    color: blue;
}











