* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.big-img {
    background: url("./big-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment:fixed;
}

.small-img {
    background-image: url("./images/folder-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* background-attachment:scroll; */
    background-attachment:fixed;
    
}
.folder-img {
    background-image: url("./big-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}