
/* 

first-line & first-letter

hover 鼠标移入的效果

*/

p::first-line{
    font-weight: bold;
}

p::first-letter {
    font-size: 150%;
}

div:hover {
    color: green;
}

.header:hover {
    color: white;
    background: blue;
    letter-spacing: 5px;
}

a:hover {
    text-decoration: none;
    font-size: 20px;
    background: orange;
}

