/* 标签样式初始化 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: #00007f;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 标题栏 */

.title {
  font-size: 20px;
  color: #f14e42;
  display: inline;
}

.brand {
  font-size: 12px;
  color: #999999;
  vertical-align: top;
}

.nav {
  float: right;
  color: #999999;
  margin-left: 40px;
  font-size: 14px;
  transition: all 0.15s linear 0s;
}

.nav:hover {
  color: #6bc5d2;
}

.top {
  padding-top: 20px;
  padding-bottom: 35px;
}

.w {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}



/* .left {
  float: left;
}

.right {
  float: right;
} */



/* 自定义样式 */

.banner {
  background: #6bc5d2;
  padding-top: 100px;
  padding-bottom: 120px;
}

 .typographic {
  font-size: 400px;
  color: #ffffff;
  letter-spacing: -20px;
  float: left;
  margin-top: -182px;
  padding-right: 40px;
  /* 设置完容器在加 */
  margin-left: -120px;
  max-height: 387px;
}

.slogan {
  font-size: 36px;
  color: #ffffff;
}

.introduction {
  color: #177c8a;
  margin-top: 20px;
}

.call {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  /* inline元素的margin-top和bottom无效 */
  display: inline-block;
  transition: all 0.15s linear 0s;
}

.call:hover {
  background: rgba(255, 255, 255, 0.2);
}

.contentblock {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 100px;
  /* 方法2 */
  text-align: center;
}

.poemtitle {
  color: #f14e42;
  font-size: 24px;
  margin-bottom: 30px;

  /* 方法1 */
  /* text-align: center; */
}

.poemcontent {
  color: #6f6f70;
  line-height: 25px;

  /* 方法1 */
  /* max-width: 420px;
  margin-left: auto;
  margin-right: auto; */
  /* background: #000; */
  
  /* 方法2 */
  display: inline-block;
  text-align: left;
}

.photo {
  width: 180px;
  float: left;
  margin-left: 60px;
  padding-right: 70px;
  margin-top: -52px; 
}

.visiontitle {
  color: #f14e42;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: left;
  margin-top: 30px;
}

.visioncontent {
  color: #6f6f70;
  line-height: 25px;
  text-align: left;
}

.contactblock {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contacttitle {
  font-size: 24px;
  color: #6f6f70;
}

.email {
  font-size: 18px;
  background: #6bc5d2;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  display: inline-block;
  transition: all 0.15s linear 0s;
}
.email:hover {
  background: #73d4e2;
}

.footer {
  padding: 24px 0;
  background: #f3f3f3;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}

.footercontent {
  color: #bfbfbf;
}

/* 响应式 百分比布局 */


.ms-col-1 { width: 8.333%; float: left; }
.ms-col-2 { width: 16.666%; float: left; }
.ms-col-3 { width: 25%; float: left; }
.ms-col-4 { width: 33.333%; float: left; }
.ms-col-5 { width: 41.667%; float: left; }
.ms-col-6 { width: 50%; float: left; }
.ms-col-7 { width: 58.333%; float: left; }
.ms-col-8 { width: 66.666%; float: left; }
.ms-col-9 { width: 75%; float: left; }
.ms-col-10 { width: 83.333%; float: left; }
.ms-col-11 { width: 91.666%; float: left; }
.ms-col-12 { width: 100%; float: left; }

@media (max-width:888px) {
  .w {
    text-align: center;
  }
  .typographic {
    display: none;
  }
}

@media (max-width: 768px) {
  .w {
    text-align: center;
  }
  .ms-col-3 {
    width: 100%;
  }
  .ms-col-9 {
    width: 100%;
  }

  .typographic {
    display: none;
  }

  .photo {
    display: none;
  }

  .visiontitle {
    text-align: center;
  }

  .visioncontent {
    text-align: center;
    margin: 0 10px;
  }

  .brand {
    display: none;
  }

  .top {
    padding-bottom: 80px;
  }

  .nav {
    float: none;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
  }

  .nav-column {
    padding-top: 20px;
  }
}  


/* 9月8号 */


/* 响应式 百分比布局 */

/*
.ms-col-3 {
  width: 25%;
  float: left;
}

.ms-col-9 {
  width: 75%;
  float: left;
}

@media (max-width: 768px) {


  .screen-width {
      text-align: center;
  }

  .ms-col-3 {
      width: 100%;
  }

  .ms-col-9 {
      width: 100%;
  }

  .brand {
      display: none;
  }

  .top {
      padding-bottom: 80px;
  }

  .nav {
      float: none;
      margin-right: 20px;
      margin-left: 20px;
  }

  .nav-column {
      padding-top: 20px;
  }

  .typographic {
      display: none;
  }

  .banner {
      padding-top: 60px;
      padding-bottom: 80px;
  }

  .photo {
      display: none;
  }

  .visiontitle {
      text-align: center;
      margin-top: 0;
  }

  .visioncontent {
      text-align: center;
      margin: 0 10px;
  }
} */

/* .nav {
  transition: all 0.15s linear 0s;
}

.nav:hover {
  color: #6bc5d2;
}

.call {
  transition: all 0.15s linear 0s;
}

.call:hover {
  background: rgba(255, 255, 255, 0.2);
}

.email {
  transition: all 0.15s linear 0s;
}
.email:hover {
  background: #73d4e2;
} */