.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--ms-white);
    box-shadow: var(--dark-shadow);
    z-index: 2;
}

.nav-center {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    color: var(--ms-primary-5);
    transition: var(--transition);
}

.nav-toggle:hover {
    transform: scale(1.2);
}

/* 导航内容 */

.nav-link {
    font-size: 1rem;
    display: block;
    padding: 1rem 2rem;
    letter-spacing: var(--spacing);
    color: var(--grey-1);
    cursor: pointer;
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--ms-primary-1);
    background: var(--ms-primary-8);
    padding-left: 2.25rem;
    border-left: 0.25rem solid var(--ms-primary-1);
}

/* nav-icon */

.nav-icons {
    display: none;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 100%;
}

/* 992 */

@media screen and (min-width:992px) {
    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-toggle {
        display: none;
    }
    .nav-links {
        height: auto;
        display: flex;
    }
    .nav-link {
        padding: 0;
        margin-right: 0.7rem;
    }
    .nav-link:hover {
        padding: 0;
        color: var(--ms-primary-5);
        background: transparent;
        border: none;
    }
    .nav-icons {
        display: flex;
    }
    .nav-icon {
        margin-right: 0.7rem;
        color: var(--ms-primary-5);
        font-size: 1.2rem;
        transition: var(--transition);
    }
}