
/* 
    width / height  
    padding 盒子中的一部分 增加盒子的大小
    margin  盒子外的一部分 与外部内容的距离
*/
*{
    margin: 0;
    padding: 0;
}

div {
    width: 200px;
    height: 200px;
}

.box-1 {
    background: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

/* 
    box-1 margin-bottom 20px 
    box-2 margin-top    50px
    两者之间 谁大取谁
*/

.box-2 {
    background: green;
    /* padding: 5px 20px 50px 40px; */
    padding: 20px 40px 10px;
    margin: 50px 10px 20px 10px;
}