/* 
position:static - 默认值, 定位在正常的文档流
position:relative - 相对于自己本身进行定位.
top,bottom,left, right
position:absolute - 
绝对定位会基于父级进行定位(如果父级有relative),没有继续向上找,直到body.

postion:fixed - 基于屏幕进行定位,即使滚动也始终固定自己的位置 
脱离文档流,位置会被其他元素使用
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background: red;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}

div{
    border: 3px solid red;
    background: yellow;
    margin-top: 60px;
}

.one {
    background: blue;
    color: white;
}

.two {
    background: green;
    color: white;
}

.special {
    background: pink;
    font-size: 20px;
    color: #222;
}

.container {
    min-height: 100vh;
    background: rgb(19, 159, 202);
}


