/* 
position:static - 默认值, 定位在正常的文档流
position:relative - 相对于自己本身进行定位.
top,bottom,left, right
position:absolute - 
绝对定位会基于父级进行定位(如果父级有relative),没有继续向上找,直到body.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    border: 3px solid red;
    background: yellow;
    margin-top: 40px;
    
}

.one {
    background: blue;
    color: white;
    /* position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

.two {
    background: green;
    color: white;
    position:relative;
}

.special {
    background: pink;
    font-size: 20px;
    color: #222;
    position: absolute;
    top: 0;
    left: 0;
}


