/* 
HEX Values #RRGGBB
0123456789 A(10) B(11) C(12) D(13) E(14) F(15)
          10    11    12    13    14    15

          #FF0000 - Red
          #00FF00 - Green
          #0000FF - Blue
*/

#first {
    color:#ff0000;
    /* color:#f00; */
    background-color:#000000;
}

#second {
    color: #fff;
    background: #00ff00;
}

