/*
    Pixels - 像素 屏幕上的一个像素点
    Font-Size - 字体的大小
    Width - 元素的宽度
    Height - 元素的高度
*/

/* 宽1920 * 高1080 */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    background: blue;
    color: white;
    width: 120px;
}