/* 

:link - 没有访问地址的a标签 但有href
:visited - 访问的a标签
:hover - hover 移入的效果
:active - 用户点击之后的效果
a - all links
*/

a {
    display: block;
    background: red;
    margin: 10px;
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: green;
}

a:active{
    color: blue;
}

a:hover {
    font-size: 49px;
}