* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 300px;
    color: white;
}

.big-img {
    background: url("./big-image.jpg");
}

.small-img {
    background-image: url("./small-image.jpg");
}
.folder-img {
    background-image: url("./images/folder-image.jpg");
}