* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 300px;
    color: white;
}

.big-img {
    background: url("./big-image.jpg");
    background-repeat: no-repeat;
    
}

.small-img {
    background-image: url("./small-image.jpg");
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: space;
    background-repeat: round;
    background-repeat: no-repeat;
}
.folder-img {
    background-image: url("./images/folder-image.jpg");
    background-repeat: no-repeat;

}