body {
    background: #f3f3f3;
}

.container {
    border: 5px solid red;
}

.box {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #f3f3f3;
}

.box-1 {
    background:rgb(117, 117, 136);
    /* font-size: 65px; */
}

.box-2 {
    background:red;
}

.box-3 {
    background:orange;
}

.box-4 {
    background:green;
}

.box-5 {
    background:purple;
}


.generic {
    background: #000;
}