/* 
    Basic Selectors 基础选择器
    ID > Class > Element
*/

* {
    color: red;
}

/* id选择器 */
#heading {
    font-size: 40px;
    text-transform: uppercase;
    color: blue;
}
/* class选择器 */
.heading {
    font-size: 20px;
    text-transform: capitalize;
    color: green;
}
/* element选择器 */
p {
    letter-spacing: 5px;
}