/* 
 font-weight 字体加重
 font-style  字体样式
*/


body {
    font-family:tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;;
}

.main-heading {
    font-style: italic;
}

.sub-heading {
    font-weight: 100;
}

.one {
    font-weight: bold;
}

.two {
    font-weight: lighter;
    font-style: oblique;
    font-style: normal;
}

