/* 
 display:none - 在文档流移出,不保留空间
 opacity:0,
 visibility:hidden - 隐藏元素,保留空间
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background: red;
    margin: 10px;
    color: white;
    font-size: 1.5rem;
}

.none {
    display: none;
}

.opacity-1 {
    opacity: 1;
}

.opacity-5{
    opacity: .5;
}

.opacity-0 {
    opacity: 0;
}

.visibility {
    /* visibility:visible; */
    visibility:hidden; 
}
