/* 
 BLOCK:浏览器接受 width/height, 以及margin的top/bottom 
 INLINE:浏览器不接受 width/height, 以及margin的top/bottom 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}

ul li {
    list-style-type: none;
    background: green;
    /* width: 500px; */
}

ul li a {
    color: red;
    width: 200px;
    background: black;
    /* margin-top: 20px; */
    margin: 20px auto;
    display: block;
    padding: 5px;
}






/*
ol li {
    list-style-type: none;
} */

/* li {
    list-style-type: none;
} */