/* 
line-height - 如有是数字,那么 number * font-size
letter-spacing
word-spacing
text-decoration
text-transform
*/

body {
    font-family:tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    font-size: 16px;
    /* line-height: 2; */
    /* line-height: 1.5rem; */
    line-height: 40px;
}

h1 {
    /* text-transform: uppercase; */
    text-transform:capitalize;
    text-decoration:line-through
}

.one {
    letter-spacing: 0.5rem;
}

.two {
    word-spacing: 10px;
}

.three {
    text-transform: lowercase;
}

a {
    font-size: 3rem;
    /* text-decoration: none; */
    text-decoration:line-through;
    text-decoration:underline;
    text-decoration:none;
}


